.back{
  background-color: #EAE9F5;;
}

.card-containered{
  width: 70%;
  overflow: hidden;
  box-shadow:0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-out;
  margin: 0 auto;
  object-fit: cover;
  background-color:#0B2033;

  
}




.image-containers img{
  overflow:hidden;
  height: 200px;
  width: 100%;
  
}


.service-bg{
  background-color:#0B2033;
}