/* .icon {
    border-radius: 70%;
    border: 2px solid white;
    padding: 5px;
    font-size: 30px;
    background-color: white;
  } */

  .bgcol{
    background-color:#0B2033CC;
    margin-left: -13%;
   
    padding-top: 5%;
    padding-left: 5%;
    height: 500px;
    width: 500px;
  }