@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Galada&family=Lato:ital,wght@0,400;0,700;1,400&family=M+PLUS+1&family=M+PLUS+Rounded+1c&family=Niramit:ital,wght@1,700&family=Noto+Sans&family=Noto+Sans+Bengali:wght@500;900&family=Nunito+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,600;1,800;1,900&family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
    
}





/* =========== Navbar =========== */



  /* nav link  */
.nav-linked {
    font-size: 18px;
    color:#f0f0f6 !important;
   
    margin: 0;
    font-weight: 500;
    padding: 5px 10px;
    margin-left: 15px;
    position: relative;
    transition: 0.4s;
    
  
  }
.font{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.imgs{
  width: 20%;
}

.icon{
  color: #af0b1e;
  font-size: 40px;
}
  /* navlink hover  */
.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background:#f0f0f6;
    transition: 0.4s;
 
  }

  .nav-links:hover {
   color:#f0f0f6!important;
  }
  .nav-link:hover.nav-link::after {
    width: 100%;
  }


  .all-heading-color{
    color:rgb(132,38,176) !important;
  }
  .user-img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    
   
  }
  .pragraph-header{
    font-size: 30px;
    color: rgb(184, 23, 23);
    word-spacing: 3px;
  }

  .nav-toggle{
    background-color: #f0f0f6;
  }

  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 20px;
  }

  .btn-3{
    background-color: black;
    border: none;
    border-radius: 4px;
  }
  .nav-bars{
    background-color: #EAE9F5;;
  }

  .nav-bared{
    background-color:black ;
  }